{% load static wagtailcore_tags wagtailimages_tags %}

<div class="portfolio-wrapper">
    {% for project in projects %}
        <div class="card">
                <a href="{% pageurl project %}" class="thumb">
                    {% if project.get_main_image %}
                        {% image project.get_main_image original %}
                    {% else %}
                        <img src="{% static 'img/no_image.png' %}">
                    {% endif %}
                    <span class="overlay"><span class="fa fa-search"></span></span>
                </a>
            <div class="card-body">
                <h2><a href="{% pageurl project %}">{{ project.title }}</a></h2>
                <p>{{ project.subtitle|truncatewords:24 }}</p>
                <p><a href="{% pageurl project %}">Read More</a></p>
            </div><!-- end card-body -->
            <div class="card-footer">
                <ul class="list-inline filters">
                    {% for tag in project.tags.all %}
                        <li><a href="/?tag={{ tag }}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- end card-footer -->
        </div><!-- end card -->
    {% endfor %}
</div><!-- end portfolio-wrapper -->
